body{
    background: linear-gradient(to left, #C20114, #054A91);
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px;
    color: #ffffff; /* Heading text color */
}

p{
    color: #ECEBF3;
    font-style: italic;
}

button, .button {
    background-color: #ffffff; /* Button background color */
    color: #000000; /* Button text color */
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s;
    cursor: pointer;
}

/*#################################################*/
/*THIS CODE TAKES CARE OF THE NAVIGATION BAR 
    AND THE LOGOUT BUTTON.
DO NOT ALTER*/
/*#################################################*/
/* Center the navigation bar */
.logo {
    position: absolute;
    top: 5px; /* Adjust the top position as needed */
    left: 0px; /* Adjust the left position as needed */
    max-width: 120px; /* Adjust the size of the logo */
    max-height: 120px; /* Adjust the size of the logo */
    padding: 0px; /* Add padding around the logo if needed */
}
.navbar {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding-bottom: 10px; 
}

ul {
    
    list-style-type: none;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    display: flex;
}
  
li {
    margin-top: 10px;
}
 
a {  
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold; 
    font-size: 28px;
    padding: 10px;
    transition: background-color 0.3s;
}
  
/* Hover effect for links */
a:hover {
    background-color: #0C120C; /* Background color on hover */
    color: #ECEBF3; /* Text color on hover */
}

.logout {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #ffffff;
    color: #000000; 
    font-weight: bold;
    font-size: 28px;
}

.logout:hover {
    background-color: #0C120C; /* Background color on hover */
    color: #ECEBF3; /* Text color on hover */
    cursor: pointer;
}

/*#################################################*/
/*#################################################*/

h1{
    font-size: 24px;
}
.semesterContainer{
    display: flex;
    align-items: center;
}

.dropdownSemester{
    text-align: left;
    font-size: 22px;
}
.registrationContainer {
    display: flex; 
}
  
.column {
    flex: 1;
    margin: 5px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    font-size: 28px;
    /* Optional: Add some styling to the columns */
    border: none;
    border-radius: 20px;
    padding: 10px;
}

h2,h3,h4{
    color: #000000;
    font-size: 22px;
}

.registrationContainer p{
    color: #000000;
    font-size: 18px;
}

#dropdownReason{
    font-size: 14px;
}

#generateClasses{
    background-color: #ffffff;
    color: #054A91;
    border: 2px solid #054A91; 
    font-size: 14px;
    margin: 0;
    padding: 5px;
}

h1{
    font-size: 24px;
}
.semesterContainer{
    display: flex;
    align-items: center;
}

.dropdownSemester{
    text-align: left;
    font-size: 22px;
}
.registrationContainer {
    display: flex; 
}
  
.column {
    flex: 1;
    margin: 5px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    font-size: 28px;
    /* Optional: Add some styling to the columns */
    border: none;
    border-radius: 20px;
    padding: 10px;
}

h2,h3,h4{
    color: #000000;
    font-size: 22px;
}

.registrationContainer p{
    color: #000000;
    font-size: 18px;
}

#dropdownReason{
    font-size: 14px;
}

#generateClasses{
    background-color: #ffffff;
    color: #054A91;
    border: 2px solid #054A91; 
    font-size: 14px;
    margin: 0;
    padding: 5px;
}

#generateClasses:hover{
    background-color: #054A91; /* Background color on hover */
    color: #ffffff; /* Text color on hover */
    cursor: pointer;
}

.scrollable-list ul {
    list-style-type: none; /* Remove the default bullet point */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: block; /* Change the display to block to make the list items stack vertically */
}
  
.scrollable-list li {
    padding: 5px; /* Add padding around the list items */
    border: 1px solid #ccc; /* Add a horizontal line between list items */
    margin: 0; /* Remove the default margin to stack the list items */
}
  
/* Optional: Add some hover effect on list items */
.scrollable-list li:hover {
    background-color: #ddd;
    cursor: pointer;
}

#classInfoContainer h4 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
}

#classInfoContainer ul{
    font-size: 18px;
    text-align: left;
    margin: 10px;
}

#addClass{
    background-color: #ffffff;
    color: #054A91;
    border: 2px solid #054A91; 
    font-size: 14px;
    margin: 0;
    padding: 5px;
}

#addClass:hover{
    background-color: #054A91; /* Background color on hover */
    color: #ffffff; /* Text color on hover */
    cursor: pointer;
}

.semesterSchedule ul{
    list-style-type: none; /* Remove the default bullet point */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: block; /* Change the display to block to make the list items stack vertically */
}