


body{
    background-color: #ffffff;
}

.navbar-nav>li>a{
    text-transform: uppercase;
    font-size: 16px;
    margin-right:20px;
    font-weight: bold;
    color: #ffffff;
}


.navbar-toggler {
    padding: .20rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white;
    }

    .nav-link{
        color: #000000 !important; /* font for tasks or whatever*/
    }


.wrapper{
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #000000;
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
    transition: 1s all;
}

.navbar-brand{

    color:#ffffff; /* link color*/
/*font-family: 'Allerta Stencil', sans-serif;*/
    margin-bottom: 4px;
    font-size: 25px;
}

.navbar-red:hover .wrapper{
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);
}

.navbar-brand:hover{
    color:#ffffff;
}

.navbar-red{
    background-color: rgb(255, 250, 250);
    color: #000000;

}

.all-show{
    z-index: 10;
}


body{
    background: linear-gradient(to left, #C20114, #054A91);
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #ECEBF3; /* Heading text color */
}

button, .button {
    background-color: #ffffff; /* Button background color */
    color: #000000; /* Button text color */
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s;
    cursor: pointer;
}

/*#################################################*/
/*THIS CODE TAKES CARE OF THE NAVIGATION BAR 
    AND THE LOGOUT BUTTON.
DO NOT ALTER*/
/*#################################################*/
/* Center the navigation bar */
.logo {
    position: absolute;
    top: 5px; /* Adjust the top position as needed */
    left: 0px; /* Adjust the left position as needed */
    max-width: 120px; /* Adjust the size of the logo */
    max-height: 120px; /* Adjust the size of the logo */
    padding: 0px; /* Add padding around the logo if needed */
}

/* Hover effect for links */
a:hover {
    background-color: #0C120C; /* Background color on hover */
    color: #ECEBF3; /* Text color on hover */
}

.logout {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #ffffff;
    color: #000000; 
    font-weight: bold;
    font-size: 28px;
}

.logout:hover {
    background-color: #0C120C; /* Background color on hover */
    color: #ECEBF3; /* Text color on hover */
    cursor: pointer;
}

/*#################################################*/
/*#################################################*/

/*ADD THE STYLES FOR THE PAGE BELOW THIS LINE*/

table {
      position: fixed;
      top: 60px;
      left: 50px;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 95%;
      background-color: rgb(255, 255, 255);
      opacity: 90%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 5px;
      font-size: 14px;
      
    }
    td {
      font-size: 20px;
 
    }
    th {
      font-size: 20px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
