body {
    background: #ECEFF1;
    color: rgba(0,0,0,0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#userInfoContainer {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

#classesContainer {
    max-width: 900px;
    margin: 50px auto;
}

table {
    width: 100%;
    margin-bottom: 16px;
    table-layout: fixed;
}

td {
    width: 14.28%;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(0,0,0,0.6);
    margin: 0 0 16px;
    text-align: center;
}


#saveButton {
    display: inline-block;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

#saveButtonContainer {
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
}

.navbar {
    background-color: #2c2b2b;
    overflow: hidden;
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    right: 0;
}

.navbar a {
    color: #fff;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #555;
}

#classesTableCaption {
    text-align: center;
    margin-top: 16px;
    font-style: italic;
    color: rgba(0,0,0,0.6);
}

#titleCaptionContainer {
    text-align: left;
    padding-left: 20px;
}

#classChoiceTitle {
    text-align: left;
    font-size: 24px;
    color: #333;
}
  
#classChoiceCaption {
    text-align: left;
    font-size: 16px;
    color: #666;
}
  
#classChoiceContainer {
    max-height: 500px;
    overflow-y: auto;
    position: relative;
    width: 450px;
    background-color: #b8b5b5;
    padding: 20px;
    margin-left: 20px;
    box-sizing: border-box;
}
  
#classChoice {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
#classChoice li {
    margin-bottom: 10px;
    color: #000000;
}

#classInfoTitle {
    text-align: left;
    font-size: 24px;
    color: #333;
}
  