/*#################################################*/
/*THIS CODE MAKES A STYLE TEMPLATE FOR THE PAGE
DO NOT ALTER*/
/*#################################################*/
body{
  background: linear-gradient(to left, #C20114, #054A91);
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #ECEBF3; /* Heading text color */
}

button, .button {
  background-color: #ffffff; /* Button background color */
  color: #000000; /* Button text color */
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s;
  cursor: pointer;
}

/*#################################################*/
/*THIS CODE TAKES CARE OF THE NAVIGATION BAR 
  AND THE LOGOUT BUTTON.
DO NOT ALTER*/
/*#################################################*/
/* Center the navigation bar */
.logo {
  position: absolute;
  top: 5px; /* Adjust the top position as needed */
  left: 0px; /* Adjust the left position as needed */
  max-width: 120px; /* Adjust the size of the logo */
  max-height: 120px; /* Adjust the size of the logo */
  padding: 0px; /* Add padding around the logo if needed */
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding-bottom: 10px; 
}

ul {
  
  list-style-type: none;
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  display: flex;
}

li {
  margin-top: 10px;
}

a {  
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold; 
  font-size: 23px;
  padding: 10px;
  transition: background-color 0.3s;
}

/* Hover effect for links */
a:hover {
  background-color: #0C120C; /* Background color on hover */
  color: #ECEBF3; /* Text color on hover */
}

.logout {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #ffffff;
  color: #000000; 
  font-weight: bold;
  font-size: 28px;
}

.logout:hover {
  background-color: #0C120C; /* Background color on hover */
  color: #ECEBF3; /* Text color on hover */
  cursor: pointer;
}

#welcomeMessage {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  margin: 20px;
}


#mainContainer {
  /*background-color: rgba(255, 255, 255, 0.8); /* White background with opacity */
  /*backdrop-filter: blur(10px); /* Apply a blur effect to the background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
}

#flexContainer {
  display: flex; /* This makes the children display side by side */
  justify-content: space-between; /* Add space between the boxes */
  width: 100%;
  max-width: 1200px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the boxes horizontally */
}

#chartContainer {
  width: 48%; /* Set chart width to 100% of the container */
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the chart container */
  background-color: rgba(255, 255, 255, 1); /* White background with opacity */
  padding-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Set the maximum width for the qualification container */
#qualificationContainer {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the qualification container */
  background-color: #ffffff; /* White background with opacity */
  padding: 20px;
  font-size: 15px;
  margin-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#qualificationClasses {
  width: 48%;
  font-size: 15px;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 1); /* White background with opacity */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.className {
  font-size: 14px;
  font-weight: bold;
  padding-left: 30px;
}

/* Additional styles for skills */
.skills {
  font-size: 12px;
  font-weight: normal;
  padding-left: 30px;
}


#qualificationStatus {
  font-size: 18px; /* Adjust the font size as needed */
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px; /* Add some margin below the heading */
  padding-bottom: 20px;
}

/* Additional styles for the "Classes you can take to qualify" heading */
#qualificationClassesHeading {
  font-size: 15px; /* Adjust the font size as needed */
  font-weight: bold;
  padding-left: 30px;
  margin-bottom: 10px; /* Add some margin below the heading */
}

#qualificationSkills {
  background-color: #ffffff;
  font-size: 15px;
  padding-left: 10px;
  color: #333;
  margin-bottom: 10px; /* Add some margin between each class name and skills section */
}

#generateSkillsContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#careerForm {
  max-width: 800px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

#careerForm label {
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin-right: 10px;
}

.custom-select {
  align-items: center;
  position: relative;
  display: inline-block;
  padding-left: 50px;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  padding-right: 24px;
  color: #000000;
  cursor: pointer;
}

.custom-select .select-arrow {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  pointer-events: none;
}

#generateSkillsButton {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #054A91;
  outline-width: 0;
  font-weight: 400;
  color: #054A91; /* Set the text color to blue */
}

#generateSkillsButton:hover {
  background-color: #054A91; /* Set the background color to blue on hover */
  color: #fff; /* Set the text color to white on hover */
}

#skillsChart {
  width: 100%;
}

/* Chart.js colors */
.chart-background-color {
  background-color: rgba(75, 192, 192, 0.2);
}

.chart-border-color {
  border-color: rgba(75, 192, 192, 1);
}

.chart-background-color-alt {
  background-color: rgba(255, 99, 132, 0.2);
}

.chart-border-color-alt {
  border-color: rgba(255, 99, 132, 1);
}
